@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Permanent+Marker&family=Roboto:wght@700&display=swap');

body {
    background-color: black;
    user-select: none;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.container {
    text-align: center;
}

span {
    font-size: 2rem;
}

button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    background-color: white;
    color:black;
}